/* Etiquetas Generales*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5efe6;
    font-family: "Nunito", sans-serif;
}

nav{
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);  
    justify-content: space-around;
    align-items: center;
}

nav
ul{
    display:inline-block;
    list-style: none;
}
nav
ul
li
img{
    margin-top: 6px;
}

nav
ul
a{
    text-decoration: none;
    font-size: 20px;
    color: #222;

}
nav
ul
a:hover{
    color: #696969;
}
nav
li{ 
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    float: inline-start;  
}
footer{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);  
    min-height: 100px;
    text-align: center;
    justify-content: center;
}
/*Class y Id */
#Bienvenida,#contenedor{
    padding-top : 30px;
    background-color:#e8dfca79 ;
    min-height: 350px;
    text-align: center;
    
}
#Formulario{
    background-color: #e8dfca79 ;
    min-height: 400px;
    padding: 10px 150px 10px 150px;

    text-align: center;
}

#Contenedor-preguntas{
    background-color: #e8dfca79 ;
    min-height: 400px;
    padding: 10px 150px 10px 150px;
    text-align: center;
}
#botones{
    display: flex;
    padding-top: 75px;
    justify-content: space-around;
    align-items: center;
}
#botones
button{
    position: relative;
    padding: 20px;
    border-radius: 100%;
    border:  solid #FEFFD1;
}
#botones
button:active{
    border: solid #808080;
}
#botones
button
img{
    border-radius: 100%;
}
.img-boton{
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin deformarse */
  object-position: center;
  height:200px; 
  width: 200px;
  transition: 
  box-shadow .5s, /* Nombre y tiempo de la animación */
  transform .2s ease-in-out;
}
.img-boton:hover{
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px #2222221a; /* Se le aplica los valores q deseamos alterar */
  transform: scale(1.1);
}

/* carrusel de fotos-info */
.contenedor {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: black;
}
    
.imagen {
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
    
.imagen
img {
  position: relative;
  width: 100%;
  height: 100%; 
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin deformarse */
  object-position: center; /* Centra la imagen dentro del contenedor */
}
    
.texto {
  filter: drop-shadow(8px 8px 4px black);
  position: absolute;
  text-align: start;
  top: 35%;
  padding: 1px 400px 0px 200px;
  color: white;
  font-weight: bold;
}    
.texto 
h2{
  font-weight: 900;
}
.contenedor a{
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 36px;
  top : 50%;
  transform: translateY(-50%);
}

.anterior{
  right: 97%;
}
.siguiente {
  left: 97%;
}    
.boton-de-carrusel {
  position: absolute;
  top: 5%;
  left: 95%;
} 
.puntos {
  position: absolute;
  top: 93%;
  width: 100%;
  text-align: center;
}
.punto {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}
.punto:hover   {
  cursor: pointer;
  background-color: gray;
}
.contenedor a:hover {
  color: gray;
}
.actual {
  visibility: visible;
  opacity: 1;
    transition: visibility 1s, opacity 1s;
}
.activo {
  background-color: gray;
}
/* Preguntas Frecuentes */

.preguntas label {
  display: block;
}

.checkbox:checked ~ .respuesta { /* Si la checkbox está chekeada afecha a la caja de respuesta */
  background-color: pink;
  max-height: 1000px;
  padding-top: 15px;
  margin-bottom: 15px;
  transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
} 
.respuesta {
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.checkbox {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;

}
.preguntas label:hover {
  background: #d60510;
  color: #fff;
  cursor: pointer;
}
